# Dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions

# Next.js
.next/
out/

# Production
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Misc
.DS_Store
*.pem
*.log
.vercel
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
